html{
    scroll-behavior:smooth; 
}

*{
    margin: 0;
    padding: 0;
   
}
.nav{

    background-color:azure;
    height: 10%;
    color: rgb(58, 58, 176);
}

.foto{
    background-color: azure;
    height: 70%;
    padding: 0;
    margin: 0;
}

.marca{
    background-color: azure;
    height: 20%;
    width: 110%;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    color: rgb(58, 58, 176);
}

.principal {
    background-color: azure;
    height: 40%;
}

.nosotros{
    background-color: azure;
   
    height: 45%;
    width: 100%;
}

.fotodos{
    background-color: azure;
    height: 60%;
}

.pie{
    background-color: azure;
    height: 60%;
    width: 100%;
}
.izq{
    background-color: azure;
}

.der {
    background-color: azure;
}

.venta{
    background-color: azure;
    padding-top: 50px;
}

.mapa{
    background-color: azure;
    
   
}

.fotoplaya{
    background-color: azure;
}

.fotonoche{
    background-color: azure;
    padding-left: 30px;
}

.ig{
    background-color: azure;
    text-align: center;
}

.linkedin{
    background-color: azure;
    text-align: center;
    padding-top: 10px;
}

.wpp{
    background-color: azure;
    text-align: left;
}


h3{
    text-align: center;
    color: rgb(11, 78, 129);
    padding-top: 30px;

}

h4{
    text-align: center;
    color: rgb(9, 137, 235);
    padding-top: 30px; 
}
@media only screen and (max-width:480px)
{
.marca {
     background-color: azure;
     color: rgb(71, 162, 179);
    }

h4{
    text-align: center;
     
    }
.der{
    visibility: hidden;
} 
h1{
    font-size: x-small;
}
}

    
